@using SpaDay6.Models;
@model User

<h1>Welcome to our Spa, @Model?.Username!</h1>

<p>
  <a asp-controller="Spa" asp-action="Index">Select Spa Services</a>
</p>




<!-- 

In User/Index.cshtml, Use the ViewBag property containing the user’s name to personalize the message!


Also in User/Index.cshtml, add an a element to take the user back to the path, /spa, where the Spa/Index.cshtml template will be rendered. -->

<!-- 
                  --      --
            .:"  | .:'" |
          --  ___   ___  -
        /:.  /  .\ /.  \ .\
       |:|. ;\___/O\___/  :|
       |:|. |  `__|__'  | .|
       |:|.  \_,     ,_/  /
        \_____________|__/
         |:. ---{woof}-\
        /.:,|  |        \
       /.:,.|  |         \
       |::.. \_;_\-;       |
 _____|::..    .::|       |
/   ----,     .::/__,    /__,
\_______|,...____;_;_|../_;_|

 
 -->